APP_BASE_URL=https://bewegesund.de
FUNCTIONS_BASE_URL=https://europe-west3-your-project-id.cloudfunctions.net
STRIPE_BASIC_PRICE_ID=price_replace_with_test_or_live_price_id
STRIPE_PLUS_PRICE_ID=price_replace_with_test_or_live_price_id
GOOGLE_HEALTH_CLIENT_ID=google_health_client_id
